/* ESTILOS MENU */
#logo-top g {
    fill: #fff;
}

/* ESTILO DE TITULOS */
body {
    background: #EDEDED;
}
.productos-titulo {
    margin: 60px 0;
}
.producto-box {
    padding: 15px;
}
.titulo-seccion {
    font-family: "Barlow";
}
.titulo-linea {
    width: 280px;
    height: 0px;
    margin: 0 auto;
    border-bottom: 1px solid #000;
}
.titulo-linea-dos {
    width: 100px;
    height: 0px;
    margin: -3px auto;
    border-bottom: 5px solid #36b641;
}
.grupo-lineas {
    /* margin-top: -26px; */
}

/* ESTILOS PRODUCTOS */
.icon-box i {
    color: #005B93;
    font-size: 60px;
    padding: 50px;
}
.producto-linea {
    width: 260px;
    height: 0px;
    margin: -5px auto;
    border-bottom: 3px solid #084341;
}
.producto-texto {
    font-size: 15px;
    font-weight: 100;
    margin-top: 50px;
}
.producto-box-active {
    background: #fff;
    box-shadow: 10px 10px 10px #c1c1c1;
}
.producto-box-active .icon-box i {
    color: rgba(255, 255, 255, 0.47);
    position: absolute;
    top: 0;
    left: calc(50% - 72.5px);
    z-index: 10;
}
.producto-box-active .producto-titulo {
    margin-top: 15px;
}
.producto-box-active .producto-titulo .titulo-producto {
    font-weight: 600 !important;
}
.producto-box-active .circle {
    background: linear-gradient(90deg, #13831C, #05304B);;
    z-index: 1;
    width: calc(100% + 30px);
    height: 160px;
    margin-left: -15px;
    margin-top: -15px;
    border-radius: 0 0 200px 200px;
    position: relative;
}

/* ESTILOS SERVICIOS */
section.servicios {
    margin: 100px 0;
}
.servicios-texto {
    margin-top: 50px;
}
.servicio-box-margin {
    height: 250px;
    background: #fff;
    box-shadow: 10px 10px 10px #c1c1c1;
    margin: 10px;
}
.servicio-box .icon-box i {
    color: #35B03F;
}
.servicio-tipo-texto .servicio-tipo-titulo {
    font-weight: 100 !important;
    padding: 0 50px;
}

/* ESTILOS CLIENTES */
section.clientes {
    margin: 100px 0 150px 0;
}
.clientes-titulo {
    margin-bottom: 50px;
}
.cliente-container {
    width: 247px;
    height: 247px;
    border-radius: 50%;
    background: #fff;
    display: table-cell;
    vertical-align: middle;
}
.cliente-img {
    width: 100%;
    padding: 0 10px;
}

/* ESTILOS CERTIFICADOS */
section.certificados {
    margin: 100px 0;
}
.certificados-titulo {
    margin-bottom: 50px;
}
.certificados-texto {
    padding: 0 300px;
}
.certificado-img-box {
    vertical-align: middle;
    display: table-cell;
    height: 200px;
}
.certificado-img-container {
    display: table;
    width: 100%;
}
.certificado-img-container:hover .certificado-img-box svg g {
    fill: #a4a4a4;
}

/* ESTILOS PROYECTOS */
section.proyectos {
    margin: 100px 0;
}
.proyectos-titulo {
    margin-bottom: 50px;
}
.proyecto-container > div  {
    padding: 0 !important;
}
.proyecto-img-box {
    height: 450px;
    background: #fff;
    padding: 45px;
    vertical-align: middle;
    display: table-cell;
    margin-top: 50px;
    border-radius: 9px;
}
.proyecto-texto-box {
    height: 350px;
    background: #658B68;
    padding: 35px;
    vertical-align: middle;
    display: table-cell;
    border-radius: 9px;
}
.proyecto-texto-box * {
    color: #fff;
}
.proyecto-texto-box .proyecto-texto {
    padding: 0 35px;
}
.proyecto-texto-container {
    margin-top: calc(50% - 500px);
    /* max-width: 44% !important; */
    max-width: 35% !important;
    right: 0;
    position: absolute;
    z-index: 2000;
}
.carousel-control-box {
    padding: 10px;
    background: rgba(223, 223, 223, 0.8);
}
#carouselProyectos .carousel-control-next-icon, #carouselProyectos .carousel-control-prev-icon {
    width: 50px;
    height: 50px;
    color: #6199BC;
    font-size: 50px;
}
#carouselProyectos .carousel-control-next, #carouselProyectos .carousel-control-prev {
    opacity: 1;
}
#carouselProyectos .carousel-control-next, #carouselProyectos .carousel-control-prev {
    z-index: 10000;
}
#carouselProyectos .carousel-control-next {
    right: -60px !important;
}
#carouselProyectos .carousel-control-prev {
    left: -60px !important;
}
#carouselProyectos .carousel-indicators .active {
    background: #6199bc;
}

/* ESTILOS NOSOTROS */
.nosotros-texto {
    padding: 0 50px;
}
section.nosotros {
    margin: 100px 0;
}
.nosotros-titulo {
    margin-bottom: 50px;
}
.nosotros-box {
    padding: 0;
}
.card-container > div  {
    padding: 0 !important;
}
.card-big-box {
    height: 450px;
    background: #fff;
    padding: 45px;
    vertical-align: middle;
    display: table-cell;
    margin-top: 50px;
    border-radius: 9px;
}
.card-small-box {
    height: 350px;
    background: #658B68;
    padding: 30px;
    vertical-align: middle;
    display: table-cell;
    border-radius: 9px;
}
.card-small-box * {
    color: #fff;
}
.card-small {
    margin-top: 50px;
    max-width: 44% !important;
    right: 0;
    position: absolute;
    z-index: 2000;
}
.card-container i.fas {
    color: rgba(207, 207, 207, 0.5);
    display: block;
}
.card-big i.fas {
    font-size: 180px;
    margin-top: -75px;
    text-align: left;
}
.nosotros-card-1 {
    margin-top: -105px;
}
.card-small i.fas {
    font-size: 150px;
    margin-top: -65px;
    text-align: right;
}
.nosotros-card-2 {
    margin-top: -85px;
}
