body{
    font-family: 'Oxygen', sans-serif;
}

section{
    padding: 55px;
}

.card-title{
    height:50px;
    margin-bottom: 20px;
}
.card .view{
    margin-bottom: 10px;
}

/* ============================HEADER=============================== */

.image-header{
    height: 600px;
    background: #170b5a;
}
.image-header img{
    height: auto;
    position: absolute;
    right: 150px;
    top: 70px;
}
.navbar.scrolling-navbar.top-nav-collapse{
    background:rgba(81, 179, 65, 0.95);
    padding: 15px;
}
header .view{
    height:500px !important;
}
.box-text-header{
    color: #fff;
    z-index: 9999999;
    position: absolute;
    transform: translate(8%, -65%);
    -webkit-transform: translate(8%, -65%);
    height: 600px;

}
.box-text-header h1{
    font-family: 'Lalezar', cursive;
    display: inline-flex;
}
.box-text-header .text-color{
    color: #52b542;
    margin-left: 15px;
}
.box-text-header p{
    width: 800px;
    color: #a2a4ab;
}

/* ============================MISION-VISION=============================== */

.mision-vision .card{
    margin-top: -100px;
    z-index: 22;
    position: relative;
    text-align: center;
}
.mision-vision .card i {
    padding-right: 10px;
    color:#170b5a;
    font-size: 50px;
}
.mision-vision .card h4 {
    font-size: 20px;
    color: #232d37;
    font-weight: 500;
    letter-spacing: -.1px;
    line-height: 27px;
    padding-bottom: 10px;
}
.mision-vision .card p {
    font-size: 16px;
    line-height: 20px;
    color: #51545f;
}
.mision-vision .box-mision:before {
    content: "";
    background: #e5e5e5;
    height: 175px;
    width: 1px;
    position: absolute;
    right: -15px;
    top: 0;
}
#img-fadeIn13{
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}
#img-fadeIn4 {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

/* ============================CERTIFICACIONES=============================== */
.certificaciones{
    background: #f5f5f5;
}
.certificaciones img{
height:100px;
}
.certificaciones .list-group-item{
    border: none;
    background: transparent;
    padding: 0 50px;
}

/* ============================SERVICIOS=============================== */
.servicios .card{
    height:400px;
    transition: all 0.4s ease-out 0s;
}
.servicios .card:hover{
    background:#0f5b93;
    transition: all 0.4s ease-out 0s;
    color: #fff;
}
.servicios .card:hover .icon i, .servicios .card:hover .card-text{
    color: #ffff;
}
.servicios .card:hover .btn{
    color:#fff !important;
    border:2px solid #fff !important;
}
.icon{
    color: #252d35;
    font-size: 50px;
    transition: 0.3s;
    text-align: center;
}

/* ============================PRODUCTOS=============================== */

#feature{
    background-image: url("../img/body-bg.png"); 
    background-size: cover; 
    background-position: 50% 1201.2px;
}
.productos i{
    font-size: 40px;
    transition: 0.3s;
    text-align: center;
}
.single_feature {
    margin-bottom: 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.05);
    padding: 30px 30px;
    transition: 0.3s;
}

/* ============================CASOS DE ÉXITO=============================== */
#counter {
    background: url(../img/count.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(15, 17, 27, 0.8);
}
#counter .counter-box {
    padding: 20px 15px;
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0px 9px 16px 0px rgba(225, 225, 225, 0.004);
    text-align: center;
    position: relative;
}
#counter .counter-box .icon-o i {
    font-size: 42px;
}
#counter .counter-box .icon-o {
    color: #fff;
    margin-bottom: 20px;
}
#counter .counter-box h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 10px;
    position: relative;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
#counter .counter-box p {
    color: #fff;
    font-size: 16px;
}
#counter .counter-box h3:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 45px;
    left: 50%;
    bottom: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #e5e5e5;
}

/* ============================PARTNES=============================== */
.partnes{
    background: #f5f5f5;
}
.partnes img{
height:60px;
}
.partnes .list-group-item{
    border: none;
    background: transparent;
    padding: 0 50px;
}

/* ============================TESTIMONIOS=============================== */
.testimonios{
    background: #f5f5f5;
}
.carousel-control i{
    color: #000;
    font-size: 50px;
}
.testimonial p{
    width: 600px;
    margin:10px auto 40px;
}
.testimonial-carousel .testimonial .avatar img {
    width: 150px;
    height: 130px;
}
.wrapper-carousel-fix{
    text-align: center;
}
/* ============================FOOTER=============================== */

.footer-widget {
    background-color: #152136;
    padding: 70px 0;
}
.footer-content p {
    color: #fff;
    margin-top: 35px;
}
.contact-box .contact-icon i {
    font-size: 48px;
    color: #52b542;
}
.mt-30 {
    margin-top: 30px;
}
.contact-box p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #8a8fa3;
    margin: 0;
}
.social li a {
    font-size: 30px;
    width: 74px;
    height: 70px;
    line-height: 74px;
    text-align: center;
    border-radius: 50%;
    color: #bebebe;
    background-color: #1c2940;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    display: inline-block;
}
.social{
    margin-top: 50px;
}
.social li {
    display: inline-block;
    margin: 0 14px;
}
.footer-copyright {
    background-color: #1c2940;
}
.pb-20 {
    padding-bottom: 20px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-30 {
    padding-top: 30px;
}
.footer-copyright .copyright-text p {
    color: #fff;
    margin-bottom: 0px;
}
.contact-box {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 30px 35px;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    height: 230px;
}
.contact-box .contact-content {
    margin-top: 15px;
}
.contact-box .contact-content .contact-title {
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 15px;
}
.single-form input, .single-form textarea {
    width: 100%;
    height: 55px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 0 25px;
    font-size: 16px;
    color: #8a8fa3;
}
.single-form textarea {
    height: 135px;
    padding-top: 10px;
    resize: none;
}
.single-form {
    margin-top: 30px;
}
.main-btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #52b542;
    padding: 0 40px;
    font-size: 15px;
    line-height: 48px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    -webkit-box-shadow: 0 5px 8px 0 rgba(82, 181, 66, 0.55);
    -moz-box-shadow: 0 5px 8px 0 rgba(82, 181, 66, 0.55);
    box-shadow: 0 5px 8px 0 rgba(82, 181, 66, 0.55);
    background-color: #52b542;
    text-transform: uppercase;
}
.social li a:hover {
    background-color: #52b542;
    color: #fff;
}